asgiref==3.8.1
blinker==1.9.0
click==8.1.8
Django==5.1.6
django-cors-headers==4.7.0
djangorestframework==3.15.2
dnspython==2.7.0
email-validator==2.0.0
Flask==2.3.3
Flask-Login==0.6.2
Flask-WTF==1.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
pdfkit==1.0.0
psycopg==3.2.5
psycopg2==2.9.10
python-dotenv==1.0.0
sqlparse==0.5.3
typing_extensions==4.12.2
Werkzeug==2.3.7
WTForms==3.2.1
XlsxWriter==3.2.2
